#contact {
  background-color: hsl(220, 16%, 96%);
}
.contact-text {
  text-align: center;
}
.contact-form {
  border: 2px dashed hsl(233, 8%, 62%);
}

@media screen and (max-width: 767px) {
  #contact {
    padding: 50px 0;
  }
  .contact-text {
    padding: 0 20px;
  }
  .contact-form {
    margin: 50px 20px;
    padding: 50px 20px;
  }
}

@media screen and (min-width: 768px) {
  #contact {
    padding: 100px;
  }
 .contact-form {
  margin: 50px 150px;
  padding: 50px;
 }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact-form {
    margin: 50px;
  }
}