#shop {
  background-color: hsl(220, 16%, 96%);
  
}
#shop h1 {
  text-align: center;
}
img.preset-img {
  border-radius: 5px;
  height: 100%;
  
}
img.preset-img:hover {
  opacity: 0.8;
}
.card-footer {
  padding: 20px;
}
.btn-shop {
  border-radius: 20px;
  border: 2px solid white;
  background-color:hsl(233, 8%, 62%);
  color: white;
}
.btn-shop:hover {
  box-shadow: 3px 3px  5px black;
  color: white;
}

.card-footer {
  background-color:hsl(233, 8%, 62%);
}
@media screen and (max-width: 767px) {
  #shop {
    padding: 50px;
  }
  .card {
    height: 500px;
  }

}

@media screen and (min-width: 768px) {
  #shop {
    padding: 100px;
  }
  .line1 {
    width: 30%; 
  }
  .card {
    height: 500px;
    margin: 0 50px;
  }
  
}